<h1><%= @quest.title %></h1>

<p><strong>Text:</strong></p>
<p><%= @quest.body %></p>



<%= link_to 'Back', quests_path %>
<%= form_with(model: [ @player, @player.quests.build ], local: true) do |form| %>
  <p>
    <%= form.label :title %><br>
    <%= form.text_field :title %>
  </p>
  <p>
    <%= form.label :body %><br>
    <%= form.text_area :body %>
  </p>
  <p>
    <%= form.submit %>
  </p>
<% end %>