<%= Time.now%>
<%= simple_form_for @weapon_addon, url: weapons_path,:validate => true do |form| %>
  <p>
   <%= form.input :weapon_addon_type_id, :collection => WeaponAddonType.all,
                   :label_method => :name,
                   :value_method => :id,
                   :label => "Тип аддона" %>
    <%= form.input :name  %>
    <%= form.input :dmg %>
    <%= form.input :dist %>
    <%= form.input :clip %>
    <%= form.full_error :at_least_one  %>
    <%= form.input :text %>
    <%= form.button :submit%>
    
    <%= @weapon_addon.errors.full_messages.each {|error| error   } %>
  </p>
<% end %>


