<h1>Listing players</h1>
<div class="container">
  <div class="row align-items-start">
<table class="table-bordered">
  <tbody>
  <tr>
    <th>Name</th>
    <th>Race</th>
    <th>Size</th>
    <th>Age</th>
    <th></th>
  </tr>
  <% @players.each do |player| %>
    <tr>
      <td><%= player.name %></td>
      <td><%= player.race %></td>
      <td><%= player.size %></td>
      <td><%= player.age %></td>
      <td><%= cookies[:selected_player] %></td>
      <td><table class="table-bordered">
        <tr>
        <% player.quests.each do |quest| %>
            <td>
        <%= link_to quest.title, quest_path(quest) %>
            </td>
        <% end %>
        </tr>
      </table></td>
      <td><%= link_to 'Show', player_path(player) %></td>
      <td></td>

  <% end %>
  </tbody>
</table>

  </div>  </div>



