<h1>New Player</h1>
<%= simple_form_for @player do |f| %>
  <%= f.input :name %>
  <%= f.input :race %>
  <%= f.input :size %>
  <%= f.input :age %>
  <%= f.button :submit %>
<% end %>
<div class="message">ss</div>
