<!DOCTYPE html>
<html>
  <head>
    <title>RolyG</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <HEADER>Selected player</HEADER>
    <%= Player.find(cookies[:selected_player]).name %>
    <%= yield %>
  </body>
</html>
